<section id="my-blogpost" class="p-4">

    <div class="d-flex justify-content-between">
        <h2 class="blog-title mb-2 w-75">{{post.title}}</h2>
        {{#if logged_in}}
        <a href="/edit-post/{{post.id}}" id="editpost-btn"><button class="w-100 postcomment-btn py-1 px-4">edit</button></a>
        {{/if}}
    </div>

    <h4 class="blog-info mb-4">created on {{format_date post.date_created}}</h4>

    <p class="blog-content mb-5">{{post.content}}</p>

    <h3>↓ Comments here.</h3>

    <div id="comment-list" class="p-3">
        <table class="w-100">
            <tbody>
                {{#each post.comments as |comment|}}
                <tr class="one-comment">
                    <td class="p-3">
                        <h5 class="commenter">{{comment.user.username}}</h5>
                        <p class="comment mb-0">{{comment.comment}}</p>
                    </td>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>