<section id="my-blogpost" class="p-4">

    <div class="d-flex justify-content-between">
        <h2 class="blog-title mb-2 w-75">{{post.title}}</h2>
        {{#if logged_in}}
        <div class="mb-2 w-25">
            <a href="/edit-post/{{post.id}}" id="editpost-btn"><button class="eddel-btn d-block mb-2  py-1">edit post.</button></a>
            <button id="deletepost-btn" data-postid="{{post.id}}" class="eddel-btn d-block py-1">- delete post.</button>
        </div>
            
        {{/if}}
    </div>

    <h4 class="blog-info mb-4">created on {{format_date post.date_created}}</h4>

    <p class="blog-content mb-5">{{post.content}}</p>

    <h3>↓ Comments here.</h3>

    <div id="comment-list" class="p-3">
        <table class="w-100">
            <tbody>
                {{#each post.comments as |comment|}}
                <tr class="one-comment">
                    <td class="p-3">
                        <h5 class="commenter">{{comment.user.username}} <span class="comment-date">({{format_date comment.date_created}})</span></h5>
                        <p class="comment mb-0">{{comment.comment}}</p>
                    </td>
                {{/each}}
            </tbody>
        </table>
    </div>

    
</section>

<script src="/js/deletePost.js"></script>